@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box; 
}

html, body {
    color: white;
}

body {
    font-family: 'Cormorant Garamond', serif;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(121,0,255,1) 100%); 
}

.dropdown-menu {
    display: none;
    visibility: hidden;
}

.dropdown-menu-head:hover .dropdown-menu {
    visibility: visible;
    display: flex;
}

.gallery-item {
    padding: 0.3rem;
}






